.dialog-container {
    width: 86%;
    border-radius: 5px;
    border: 0px solid #757575;
    font-size: 17px;
    background-color: #ffffff;

    &__title {
        padding: 15px 15px 0 15px;
        font-weight: bold;

        .q-icon {
            float: right;
            right: 0;
            top: 0;
        }
    }

    &__content {
        word-break: break-all;
        padding: 0 15px;
        margin: 23px 0;
    }

    &__button {
        padding: 15px;
        text-align: right;
        background: #f7f7f7;
        border-radius: 0px 0px 5px 5px;
        border: 0px solid #878787;

        .dialog-button {
            min-width: 99px;
            padding: 8px;
            border-radius: 5px;
            font-size: 18px;

            &.confirm {
                background: #00243d;
                color: #ffffff;
            }

            &.cancel {
                border: 1px solid #42b0d5;
                color: #42b0d5;
                margin-right: 15px;
                background: #ffffff;
            }
        }
    }
}