$color: #FFEEAD;
$background-color: #001733;
$fontSize: 16px;
$width: 320px;
$height: 534px;
$line-height: 35.6px;
$letter-spacing: -0.5px;
$option-height:400px;
$option-width:300px;
$option-background-color:#00346E;
 :export {
    color: $color;
    background-color: $background-color;
    font-size: $fontSize;
    width: $width;
    line-height: $line-height;
    height: $height;
    letter-spacing: $letter-spacing;
    option-height: $option-height;
    option-width: $option-width;
    option-background-color: $option-background-color;
    option-font-size: $fontSize;
    option-color: $color;
    option-letter-spacing: $letter-spacing;
}