$color: #FFEEAD;
$background-color: #001733;
$fontSize: 24px;
$width: 320px;
$height: 534px;
$line-height: 35.6px;
$letter-spacing: -1px;
$option-height:450px;
$option-width:348px;
$option-background-color:#00346E;
$option-margin:31px 0px 0px 5px;
$option-padding:6px 0px 0px 4px;
 :export {
    color: $color;
    background-color: $background-color;
    font-size: $fontSize;
    width: $width;
    line-height: $line-height;
    height: $height;
    letter-spacing: $letter-spacing;
    option-height: $option-height;
    option-width: $option-width;
    option-background-color: $option-background-color;
    option-font-size: $fontSize;
    option-color: $color;
    option-letter-spacing: $letter-spacing;
    option-margin: $option-margin;
    option-padding: $option-padding;
}