html {
  body {
    height: 1400px;
    width: 100vw;
    background-image: url("@/assets/mc33.png");
    background-position: 50% 10px;
    background-repeat: no-repeat;
    background-size: 620px;
    background-color: rgb(40, 40, 40);
  }
}

#app {
  top: 175px;
}
