html {
  body {
    height: 100vh;
    width: 100vw;
    background-image: url("@/assets/mc9300.png");
    background-position: 50% -80px;
    background-repeat: no-repeat;
    background-size: 620px;
    background-color: white;
  }
}

#app {
  top: 97px;
}
