html {
    body {
        height: 100vh;
        width: 100vw;
        background-image: url("@/assets/zebra.png");
        background-position: 50% 0px;
        background-repeat: no-repeat;
        background-size: 2280px;
        scale: 0.9;
    }
}

#app {
    top: 112px;
    right: 18px;
}