$fontSize: 16px;
$letter-spacing: -0.5px;
$lineItemHeight: 21.5px;
$width: 260px;
html {
    background-color: #0E1925;
}

#app {
    font-family: monospace;
    font-size: $fontSize;
    letter-spacing: $letter-spacing;
    width: $width;
    font-weight: 100;
    margin: 20px auto;
    background-color: #001733;
    color: #FFEEAD;
    padding: 5px 12px;
    border: #6E7C89 .5px solid;
}

.line-item {
    display: flex;
    align-items: center;
    height: $lineItemHeight;
    // min-height: 24px;
    // padding: 3px;
}

.center-items {
    display: flex;
    align-items: center;
}

.last-item {
    position: absolute;
    bottom: 0;
    background-color: inherit;
    width: 100%;
}

.bg-white {
    background-color: #FFFFFF;
}