$fontSize: 16px;
$letter-spacing: -0.5px;
$lineItemHeight: 21.5px;
html {
    background-color: transparent;
    background-image: url("~@/assets/images/rf.png");
    background-size: 370px 920px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#app {
    font-family: monospace;
    transform: scale(0.7, 0.7);
    height: 462px;
    font-size: $fontSize;
    letter-spacing: $letter-spacing;
    width: 320px;
    font-weight: 100;
    margin: 42px auto;
    background-color: #001733;
    color: #FFEEAD;
    padding: 5px 12px;
    border: black .5px solid;
}

input,
textarea {
    font-family: monospace;
    font-size: $fontSize;
    letter-spacing: $letter-spacing;
    font-weight: 100;
}

.line-item {
    display: flex;
    align-items: center;
    height: $lineItemHeight;
    // min-height: 24px;
    // padding: 3px;
}

.center-items {
    display: flex;
    align-items: center;
}

.last-item {
    position: absolute;
    bottom: 0;
    background-color: inherit;
    width: 100%;
}

.bg-white {
    background-color: #FFFFFF;
}

.options {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 200;
    background-color: #00346E;
    // height: 300px;
    height: 275px;
    // width: 255px;
    width: 220px;
    padding: 3px 6px;
}