#app {
    font-family: "Maersk Text", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif, monospace;
    width: 250px;
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line-item {
    display: flex;
    align-items: center;
    min-height: 24px;
    padding: 3px;
    font-size: 12px;
}
.center-items {
    display: flex;
    align-items: center;
}