// It's highly recommended to change the default colors
// to match your app's branding.
$primary: #027BE3;
// $secondary: #42B0D5;
$secondary: #64b2d4;
$accent: #9C27B0;
$dark: #00243d;
$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;
// @import '~quasar-variables-styl'