.q-field__control {
    height: 43px;
    padding: 0 15px;
}

.q-btn {
    height: 49px;
    font-size: 20px;
    border-radius: 3px;
}

.q-field__native,
.q-placeholder {
    padding: 5px 0;
    font-size: 17px;
}