// header general variable
$--header-mb: 20px;
$--page-content-padding: 0 23px;
$--page-content-margin-top-no-search: 15px;
$--page-content-margin-top-with-search: 15px;
$--page-content-margin-top-with-subtitle: 15px;
// card general variable
$--card-box-shadow: 0px 4px 8px 2px rgba(92, 103, 109, 0.08);
$--card-radius: 3px;
$--card-padding: 10px 15px;
$--card-space-between: 15px;
$--card-font-size: 15px;
// card item 
$--card-item-date-text-color: #757575;
$--card-item-text-space-between: 5px;
// card item with input field
$--card-input-padding: 2px 15px;
$--card-input-field-padding: 0px 0px 0px 15px;
$--card-input-field-height: 40px;
// card item with selection
$--card-selection-padding: 0 0 0 15px;
$--card-selection-height: 45px;
// card item for subtitle
$--card-sub-title-padding: 15px;
$--card-sub-title-margin: 23px 23px 0 23px;
// page bottom
$--page-bottom-margin-bottom: 10px;
// button
$--button-radius: 5px