.setting-card-item {
    text-align: left;
    font-size: $--card-font-size;
    border-radius: $--card-radius;
    box-shadow: $--card-box-shadow;
    margin-bottom: $--card-space-between;
    padding: $--card-padding;
    background-color: #fff;
    margin: 0px 23px 20px 23px;
    .label {
        float: left;
    }
    .q-icon {
        color: #757575;
    }
    .item-value,
    .right-icon {
        float: right;
    }
    .spacer {
        clear: both;
    }
}